/* 
background color : #cccccc
button color : #16907c
text color : #323d43
small text color: #6c7277
 large - font-family: 'Balsamiq Sans', cursive;
 font-family: 'Dongle', sans-serif;
*/

/* Universal Style Start */
body{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    font-weight: 200
}


*{margin: 0;}
li{list-style-type: none}

button{
    border: none;
    outline: none;
    background-color: #16907c;
    color: white;
    padding: 10px 15px;
    border-radius: 5px
}
h1, h2, h3{
    font-family: 'Balsamiq Sans', cursive;
}
h1, h2{
    color: #16907c;
}
h3{
    color: #323d43;
    margin-left: 10%;
}
.section-title::before{
    content: "";
    position: absolute;
    background-color: #16907c;
    width: 5%;
    height: 1px;
    margin-top: 4%;
    border-radius: 0 30px 30px 0;
}
button{
    cursor: pointer;
}
.section-title{
    text-shadow: 0 5px 10px hsla(170, 74%, 62%, 0.253);
}
/* Universal Style End */


/* Header Style  */
.header{
   position:fixed;
   top: 30%;
   right: 0;
   z-index: 1;
   display: flex;
   width: 30px;
   flex-direction: row;
}
.header li{
    display: inline-block;
    font-size: 20px;
    /* border: 1px solid lightgray;
    border-radius: 2px; */
    background-color: #17927d;
   color: white;
   padding:0 10px;
   margin: 5px 0;
   border-radius: 5px 0 0 5px;

}



/* Hero Section--------------------------------------------------------------------- */
.hero{
    background-image: url("./images/hero.png");
    background-size: cover;
    height: 595px;
    overflow: hidden;
    position: relative;
    box-shadow: -10px -10px 50px #55e6ce27;
    display: flex;
    flex-wrap: wrap;
}
.hero .profile{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(23,146,125,0.5) 0%, rgba(68,205,182,0.5) 80%);
}
.hero .profile img{
    width: 60%;
   height: auto;
}

.hero .content{
    width: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    float: right;
    margin-right: 100px;
    

}
 .hero .intro{
     line-height: 0.4 ;
 }

.hero button{
    width: 150px;
    margin-top: 20px;
}



 /* Skill Section--------------------------------------------------------------------- */
 .skill{
     background-color: #55e6ce0d;
     box-shadow: 10px 10px 50px #55e6ce27;
     padding-top: 50px;
 }

 .skill .container{
     width: 80%;
     margin: auto;
 }

 .skill .container img{
     width: 100%;
 }


 
.skill .container b{
    color: #16907c;
     letter-spacing: 2px;
     font-weight: normal;
}



 /* Project Section  ------------------------------------*/
 .project{
    padding-top: 50px;
}

.project .container{
    width: 80%;
    margin: auto;
}

.project .section-title{
    margin-bottom: 50px;
}
.project .thumbnail{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}



.project .container div{
    margin-bottom: 50px;
    line-height: 80%;
}








 /* Feedback Section--------------------------------------------------------------------- */
 .feedback{
    margin-top: 70px;
 }

 .feedback img{
     width: 70px;
 }
 .feedback .container{
     width: 80%;
     margin: auto;
     margin-top: 50px; 
 }
 .feedback .container div{
     display: flex;
     flex-direction: column;
     align-items: center;
     line-height: 1;
     font-size: 25px;
     justify-content: space-between;
     text-align: center;
     padding: 20px;
     margin: 20px;
     /* border: 1px solid lightgray; */
     border-radius: 20px;
     box-shadow: 5px 5px 30px #55e6ce27, -5px -5px 30px #55e6ce27;
 }

 .feedback .star{
     color: rgb(228, 188, 9);
     font-size: 27px;
     letter-spacing:3px;
     
 }
 .feedback .unstar{
     color: rgb(163, 162, 162);
 }



/* Footer Section--------------------------------------------------------------------- */
 .footer{
     width: 80%;
     margin: auto;
     margin-top: 30px;
     text-align: center;
     
 }
 .footer p{
     font-size: 50px;
    position: relative;
    top: 30px;
     display: inline-block;
     padding: 0 30px;
     border-radius: 0 0 10px 10px;
    color: #16907c;
    font-weight: 400;
    line-height: 80%;

 }
 .footer img{
     width: 100%;
     height:auto;
     margin: auto;
 }



/* ----------- Responsive design ---------- */

/* Hero section  */
@media only screen and (max-width: 1000px) {
    .hero{
        height: 400px;
    }
   .hero .content {
       width: 40%;
       
   }
   .hero .profile{
       width: 200px;
   }
  
   
  }
@media only screen and (max-width: 667px) {
    .hero{
        height: 600px;
    }
   .hero .content {
       width: 25%;
       align-items: center;
   }
  }
  
@media only screen and (max-width: 540px) {
    .section-title::before{
        margin-top:7%;
        width: 7%;
    }
    body{
        font-size: 5vw;
    }
    .hero .profile{
        width: 100%;
        
        background: linear-gradient(90deg, rgba(23,146,125,0.6) 0%, rgba(68,205,182,0.6) 80%);
    }
    .hero .profile img{
        width: 40%;
    }
   .hero .content {
        align-items:flex-start;
       width: 80%;
       margin: auto;
       padding-top: 30px;
       
   }
   
  
  }


@media only screen and (min-width: 541px){
    body{
        font-size: 2.8vw;
    }
    .hero .content{
        font-size: 2.8vw;
    }
    .feedback .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media only screen and (min-width:701px){
    .feedback .container div{
        width: 200px
    }
}
@media only screen and (min-width: 1001px){
    .hero .content{
        font-size: 2.5vw;
    }
    .skill .container{
        padding: 0 4%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 30px;
    }
  
    
}